* {
	margin: 0;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 500;
	font-family: arial, sans-serif, serif;
}
a {
	text-decoration: none;
}
#hero {
	background: url('../img/portfolio-header.jpg') top center;
	background-size: cover;
	height: 100vh;
}
#hero .container {
	width: 1100px;
	margin: 0 auto;
}
#hero .container .header {
	padding: 30px;
}
#hero .container .header .logo {
	border-radius: 50px;
	width: 100px;
	height: auto;
}
#hero .container h1 {
	color: white;
	font-size: 2.6rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}
#hero .container h2 {
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
}

#hero .container form {
	text-align: center;
	margin-top: 30px;
}
#hero .container form input[type=text] {
	width: 50%;
	padding: 17px 30px;
	border: none;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
	font-size: 1.3rem;
}
#hero .container form input[type=submit] {
	cursor: pointer;
	padding: 17px 30px;
	border: none;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
	font-size: 1.3rem;
	background: #ee6123;
	color: #000000;
	/*text-transform: uppercase;*/
	font-weight: 500;
}
#hero .container .container {
	text-align: center;
}
#hero .container .container .result-form {
	color: white;
	border: 1px solid white;
	border-radius: 10px;
	padding: 30px;
	display: inline-block;
	margin: 30px;
}
